.arrow {
    height: 40px;
    width: 40px;
    margin: 280px 80px;
}

.container {
    display: flex;
    justify-content: center;
}

.picture-description {
    max-width: 600px;
    font-family: sans-serif;
    font-size: 20px;
}